<app-post [fromParent]="parentMsg" (parentFunction)="receivemsg($event)"></app-post>
<h1 [style.color]= "bool ? 'red' : 'blue'" >{{title}}</h1>
<h1>{{name}}</h1>

<center>
    <div class="form-area">
        <h1>Post Form</h1>
        <br><br>
        <input type="text" name="" id="" placeholder="Post Title" [(ngModel)]="postTitle">
        <br><br>
        <textarea name="" id="" cols="30" rows="10" placeholder="Post Details" [(ngModel)]="postDetails"></textarea>
        <br><br>
        <input type="text" name="" id="" placeholder="Post Image URL" [(ngModel)]="imageUrl">
        <br><br>
        <input type="text" name="" id="" placeholder="Post Url" [(ngModel)]="postUrl">
        <br><br>
        <input type="checkbox" [(ngModel)]="addBackground">Add Backgroud
    </div>

    <div>
        <img [src]="imageUrl" alt="">
        <h1 [class.add]="addBackground">{{postTitle}}</h1>
        <p>{{postDetails}}</p>
        <a [href]="postUrl" target="_blank" [style.display]="postUrl ? 'block' : 'none'">More Details</a>
    </div>
</center>
<hr><hr>
<center>
    <div class="form-area">
        <h1>User Details</h1>
        <br><br>
        <input type="text" name="" id="" placeholder="Name" [(ngModel)]="name1">
        <br><br>
        <input type="email" name="" id="" placeholder="Email" [(ngModel)]='email'>
        <br><br>
        <textarea name="" id="" cols="30" rows="10" placeholder="Address" [(ngModel)]="address"></textarea>
        <br><br>
        <button (click)="onClk()" >Save Data</button>
        <!-- <h1>{{name1}}</h1> -->
    </div>
<br><br>


<div *ngIf=" userArry.length>0 ; else noData">

    <div class="class-area ">
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let us of userArry; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{us.name1}}</td>
                    <td>{{us.email}}</td>
                    <td>{{us.address}}</td>
                    <td><button (click)="onDlt(i)" >Delete</button> </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>
<ng-template #noData>
    <h2>No data to show</h2>
</ng-template>
    
</center>

<br><br> <hr>

<div class="container mt-5">
    <h1>Template Driven Form</h1>
        <form action="" #f="ngForm" (ngSubmit)="onSubmit(f)">
            <div class="form-group">
                <label for="">First Name</label>
                <input type="text" 
                name="Full Name" id="" 
                class="form-control" 
                placeholder="First Name" 
                ngModel 
                #fullname="ngModel"
                required
                minlength="5" maxlength="10"
                [ngClass]="{'is-invalid':fullname.invalid && fullname.touched}">
                
                <div *ngIf="fullname.errors?.['required']">
                    <div class="alert aleart-danger bg-danger m-1 p-2 text-light" *ngIf="fullname.invalid && fullname.touched">Full Name is Required....</div>
                </div>
                
                <div *ngIf="fullname.errors?.['minlength']">
                    <div class="alert aleart-danger bg-danger m-1 p-2 text-light" *ngIf="fullname.invalid && fullname.touched">Full Name is at least 5 character long......</div>
                </div>
           
            </div>

            <div class="form-group">
                <label for="">Email</label>
                <input type="email" 
                name="Email" id="" 
                class="form-control" 
                placeholder="Email" 
                ngModel
                #mail="ngModel"  
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                required
                [ngClass]="{'is-invalid':mail.invalid && mail.touched}">
                

                <div *ngIf="mail.errors?.['required']">
                    <div class="alert aleart-danger bg-danger m-1 p-2 text-light" *ngIf="mail.invalid && mail.touched">Email is Required....</div>
                </div>
                
                <div *ngIf="mail.errors?.['pattern']">
                    <div class="alert aleart-danger bg-danger m-1 p-2 text-light" *ngIf="mail.invalid && mail.touched">Invalid Email Address......</div>
                </div>

            </div>

            <div class="form-group">
                <label for="">Address</label>
                <textarea name="Address" id=""
                 cols="30" rows="10"  
                 class="form-control"
                 placeholder="Address" 
                 ngModel 
                 #add="ngModel" required
                [ngClass]="{'is-invalid':add.invalid && add.touched}">
                
                </textarea>

                <div *ngIf="add.errors?.['required']">
                    <div class="alert aleart-danger bg-danger m-1 p-2 text-light" *ngIf="add.invalid && add.touched">Address is Required....</div>
                </div>

            </div>

            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Submit</button>

        </form>
</div>



<br><br> <hr>
<div class="container mt-5">
<h1>Reactive Form</h1>

        <form action="" [formGroup]="form" (ngSubmit)="onSubmit1()">
            <div class="form-group">
                <label for="">First Name</label>
                <input type="text" 
                name="FullName" id="" 
                class="form-control" 
                placeholder="Full Name" 
                formControlName="FullName"
                >

                <div class="alert aleart-danger bg-danger m-1 p-2 text-light" *ngIf="form.controls['FullName'].invalid && form.controls['FullName'].touched">
                    <div *ngIf="form.controls['FullName'].errors?.['required']">Full Name is Required....</div>
                    <div *ngIf="form.controls['FullName'].errors?.['minlength']">Full Name is at least 5 characters long......</div>
                </div>

         
            </div>

            <div class="form-group">
                <label for="">Email</label>
                <input type="email" 
                name="Email" id="" 
                class="form-control" 
                placeholder="Email" 
                formControlName="Email"

                >
                <div class="alert alert-danger bg-danger m-1 p-2 text-light" *ngIf="form.controls['Email'].invalid && form.controls['Email'].touched">
                    <div *ngIf="form.controls['Email'].errors?.['required']">Email is required.</div>
                    <div *ngIf="form.controls['Email'].errors?.['pattern']">Please enter a valid email address.</div>
                </div>
                  

            </div>
            

            <div class="form-group">
                <label for="">Address</label>
                <textarea name="Address" id=""
                 cols="30" rows="10"  
                 class="form-control"
                 placeholder="Address" 
                 formControlName="Address"

                >
                
                </textarea>

                <div class="alert alert-danger bg-danger m-1 p-2 text-light" *ngIf="form.controls['Address'].invalid && form.controls['Address'].touched">
                    <div *ngIf="form.controls['Address'].errors?.['required']">Address is required.</div>
                    <div *ngIf="form.controls['Address'].errors?.['minlength']">Address must be at least 10 characters long.</div>
                </div>   

            </div>
            <div class="form-group">
                <label for="">skills</label>
                <input type="text" name="skills" class="form-control" id="" #skills (keyup.enter)="addskills(skills)" >
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let skill of Skills.controls; let i=index">
                        {{skill.value}}   
                        <a href="" class="btn btn-sm btn-danger" (click)="Remove(i)">X</a>
                    </li>
                </ul>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="form.invalid" >Submit</button>

        </form>
</div>