<p>post works!</p>
<h1>Child component</h1>

<h1>{{fromParent}}</h1>

<button (click)="sendmsg()">Click</button>

<hr> <br>
<div class="container">
    <form action="" [formGroup]="form">
        <div class="form-group">
            <label for="">Username</label>
            <input type="text" name="username" id="" class="form-control" formControlName="username">
            <div *ngIf="fc.username.errors?.['required']">
                <div class="alert aleart-danger bg-danger m-1 p-2 text-light" *ngIf="fc.username.invalid && fc.username.touched">Username is Required....</div>
            </div>
            
            <div *ngIf="fc.username.errors?.['minlength']">
                <div class="alert aleart-danger bg-danger m-1 p-2 text-light" *ngIf="fc.username.invalid && fc.username.touched">Username is at least 5 character long......</div>
            </div>
        </div>
        <div class="form-group">
            <label for="">Password</label>
            <input type="password" name="password" id="" class="form-control" formControlName="password">
            <div *ngIf="fc.password.errors?.['required']">
                <div class="alert aleart-danger bg-danger m-1 p-2 text-light" *ngIf="fc.password.invalid && fc.password.touched">Password is Required....</div>
            </div>
            
        </div>
        <br>        
        <button type="submit" class="btn btn-outline btn-primary">Submit</button>
    </form>
</div>
